@import '../settings';
.about{
    
    .about-header {
        border-radius: 25px;
        padding: 100px;
        background: $gradient, url(../../images/kalen-emsley-Bkci_8qcdvQ-unsplash2.png) center/cover;
        width: 80%;
        margin: 20px auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width:748px) {
            &{
                width: 90%;
                
                padding: 150px 80px;
            }
        }}
}
.details-container{
  .check{
    display: none;
  }
  
  .content{
    background: $grey;
    color: $primary;
    font-size: 0.8rem;
    transition: .35s;
    
  }
  .checkedDetails{
    max-height: 100vh;
    padding: 15px;
  }
  .uncheckedDetails{
    max-height: 0;
  }
    .details{
      overflow: hidden;
        margin: 30px 0;
        position: relative;
        transition: 0.5s;
    }
    .details-title{
      position: relative;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;
        background: $primary;
        color: white;
        padding: 12px;
        border-radius: 5px;
        &::after{
        content: "\203A";
        font-size: 2rem;
        position: absolute;
        right: 20px;
        transition: .35s;
        font-weight: 400;
        border-radius: 50%;
        transform: rotate(-90deg);
        }
        
    }
    .chevron2{
      &::after{
      transform: rotate(90deg);}
    }
   p{
        position: relative;
        z-index: -500;
        margin: -10px 0 0 0;
        background: $grey;
        color: $primary;
        padding: 30px 20px 20px 20px;
        border-radius: 0 0 5px 5px;
    }
    width: 70%;
    margin: 0 auto;
    @media screen and (max-width:748px) {
        &{
            width: 80%;
            
        }
    }
}



  
 
    
    

  
  


