// -- Variables --

// Couleur
$midnight: #2c3e50;
$clouds: #ecf0f1;
$primary: #FF6060;
$grey: #f6f6f6;
$gradient: linear-gradient(225deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
$gradient2: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);

// Font

@font-face {
    font-family: Montserrat;
    src: url('../font/Montserrat-VariableFont_wght.ttf');
}

$font: Montserrat;

// -- Mixin --


// -- General --

*{
    padding: 0;
    margin: 0;
    resize: none;
    list-style: none;
    box-sizing: border-box;
    font-family: $font;
}

a{
    color: inherit;
    text-decoration: none;
}